$color_text:#54657e;
.tag-input-tl {
  position:relative;
  border: 1px solid #ccc;
  padding: 2px 3px;
  display: inline-block;
  background: #eceff4;
  width: 600px;
  height:45px;
  padding: 0;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
  button{
    height: 44px;
    background: #fff;
    color:#3DC1D2;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-right: 1px solid #ccc;
    width: 45px;
  }
  .box_tag_right{
    overflow: hidden;
    position: absolute;
    width:550px;
    height: 43px;
    top:0;
    left:50px;
  }
  input {
    display: inline-block;
    position: absolute;
    top: 0;
    width: auto;
    height: 43px;
    font-size: 15px;
    line-height: 43px;
    color: black;
    border: 0px;
    margin-left: 8px;
    background: transparent;
    color:$color_text;
    &:focus {
      outline: 0;
      box-shadow: 0px;
    }
  }
  .input-tag {
    position: relative;
    line-height: 28px;
    background-color: #393F47;
    color:#fff;
    display: inline;
    float: left;
    border-radius: 2px;
    height:35px;
    min-width: 75px;
    max-width: 175px;
    margin-left:5px;
    border-radius: 7px;
    margin-top:5px;
    overflow: hidden;
    span{
      margin-left:5px;
      margin-top:2px;
      float: left;
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .delete-tag {
      margin-top:3px;
      float: right;
      cursor: pointer;
      color:#fff;
      width: 20px;
      &:hover{
        color:#fff;
      }
    }
  }
  .list_autocomplete{
    position: absolute;
    top:60px;
    width: 100%;
    background: #eceff4;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow:1px 2px 11px 1px rgba(184, 192, 204, 0.9);
    list-style: none;
    border-radius: 5px;
    .active_autocomplete{
      border: 1px solid #ccc;
      background:#f7f8fc;
    }
    .list_autocomplete_child{
      width:100%;
      height:45px;
      line-height: 45px;
      cursor: pointer;
      color: $color_text;
      &:hover{
        background: #f7f8fc;
      }

    }
  }
}
